* {
    --forgot-pasword-form-border-width: 8px;
}

#forgot-password-div {
    background-color: skyblue;
    border-color: #001;
    border-style: dotted;
    border-width: var(--forgot-pasword-form-border-width);
    top: 20%;
    left: 20%;
    padding: 8px;
    width: fit-content;
    position: absolute;
}

#email-to-contact {
    width: calc(100% - var(--forgot-pasword-form-border-width));
}

#submit-email {
    width: stretch;
}