* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    row-gap: 20px;
}



div#login-div {
    width: 550px;
    height: 250px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -80%);
    --form-border-width: 15px;
}

form#login-form {
    border-width: var(--form-border-width);
    border-style: double;
    border-color: #200;
    background-color: sandybrown;
    align-items: center;
    padding: 5px;
}

label {
    font-weight: bold;
}

input {
    border-width: 5px;
    border-color: black;
    border-style: inset;
    width: calc(100% - var(--form-border-width));
}

button {
    width: stretch;
    text-align: center;
    font-weight: bolder;
    border-width: 5px;
    border-style: outset;
}

button#login {
    background-color: orangered;
}

button#create-account {
    background-color: chartreuse;
    color: darkgreen;
}

button#forgot-login {
    background-color: skyblue;
    color: darkslateblue;
}